@import url("https://use.typekit.net/gfj3lrr.css");

/*--START OF STYLES RESET--*/
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*--END OF STYLES RESET--*/

body { 
    min-width: 1280px;
    margin: auto;
}

header {
    background-color: #d50032;
    width: 100%;
    color: #ffffff ;
    grid-template-columns: 1.05fr 2fr 3fr 1fr;
    display: grid;
    align-items: center;
    max-width: 1820px;
    margin: 0 auto;
    gap: 10px;
}

#logo {
    width: 150px;
    margin: 0 auto;
    border-radius: 1rem;
}

#logo img{
    width: 140px;
    margin: 0 auto;
}


h1{
    text-align: left;
    font-family: freight-sans-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: white;
}

h1{
    font-size: 3rem;
    margin: 5rem 0;
    text-transform: uppercase;
}

.hide{
    visibility: hidden;
}

nav h2.hide {
    padding-bottom: 65px;
}

nav {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    display: block;
    grid-column: auto;
    text-align: center;
    font-family: freight-sans-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
}

nav ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

nav a {
    list-style-type: none;
    text-decoration: none;
    color: white;
}

nav li {
    font-size: 2rem;
}

#toggleSwitch {
padding: 10px;
}

#toggleSwitch img {
    width: 50px;
    margin: 0 auto;
}

.hidden{
    visibility: hidden;
}

/*main {
    margin: 0 auto 2rem auto;
}*/

section {
    padding: 2%;
}

h2 {
    text-align: left;
    font-family: freight-sans-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: black;
    font-size: 2rem;
    margin: 3rem 0;
    text-transform: uppercase;
}

main h2 {
    margin: 0;
}

main{

}

.grid-container-element { 
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-gap: 20px; 
    width: 100%; 
    justify: center;
} 
.grid-child-element { 
    margin: 0px; 
}

.grid-child-element-paragraph {
    padding-top: 20px;
    width: 355px;
    font-size: 20px;
}

h3 {
    font-family: freight-sans-pro, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 2rem;
}

p {
    font-family: freight-sans-pro, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
}
