@import url("https://use.typekit.net/gfj3lrr.css");

/*--START OF STYLES RESET--*/
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*--END OF STYLES RESET--*/

body { 
    width: 1280px;
    margin: auto;
}

header {
    background-color: #d50032;
    width: 100%;
    color: #ffffff ;
    grid-template-columns: 1.05fr 2fr 3fr 1fr;
    display: grid;
    align-items: center;
    margin: 0 auto;
    gap: 10px;
}

#logo {
    width: 150px;
    margin: 0 auto;
}

#logo img{
    width: 140px;
    margin: 0 auto;
}


h1{
    text-align: left;
    font-family: freight-sans-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: white;
}

h1{
    font-size: 3rem;
    margin: 5rem 0;
    text-transform: uppercase;
}

.hide{
    visibility: hidden;
    height: 0px;
    padding: 0px;
}

nav h2.hide {
    padding-bottom: 65px;
}

nav {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    display: block;
    grid-column: auto;
    text-align: center;
    font-family: freight-sans-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
}

nav ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

nav a {
    list-style-type: none;
    text-decoration: none;
    color: white;
}
nav a:hover {
    border-bottom: 1rem solid;
    color:#1F3933;
}

nav li {
    font-size: 2rem;
}

#toggleSwitch {
padding: 10px;
}

#toggleSwitch img {
    width: 50px;
    margin: 0 auto;
}

.hidden{
    visibility: hidden;
}

/*main {
    margin: 0 auto 2rem auto;
}*/

section {
    padding: 0px;
}

h2 {
    text-align: left;
    font-family: freight-sans-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: black;
    font-size: 75px;
    margin: 2rem 0;
    text-transform: uppercase;
}

main h2 {
    margin: 0;
    padding: 77px 29px 58px;
}


.grid-container-element { 
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-gap: 20px; 
    width: 100%; 
    justify-content: center;
} 
.grid-child-element-description{ 
    margin: 0px; 
    padding: 0px 0px 0px 150px;
}
.grid-child-element-image img{ 
    margin: 0px; 
    width: 85%;
    border-radius: 50px;
}

.grid-child-element-paragraph {
    padding-top: 20px;
    width: 355px;
    font-size: 1.5rem;
}
.grid-child-element-paragraph {
    padding-top: 20px;
    width: 355px;
    font-size: 1.5rem;
}

.grid-container-thumbnails { 
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
    grid-gap: 0px; 
    width: 100%; 
    align-items: start;
    justify-items: center;
    text-align: center;
    margin: 0px; 
    padding: 100px 0px;
} 

.grid-child-thumbnail {
    font-size: 1.5rem;
    width: 75%;
}
.grid-child-thumbnail img{
    width: 100%;
    border-radius: 150px;
}

.grid-child-thumbnail figcaption {
    font-family: freight-sans-pro, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 20px;
    padding: 10px;
}

.grid-child-thumbnail:hover {
    color: #d50032;
}

h3 {
    font-family: freight-sans-pro, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 3rem;
}

p {
    font-family: freight-sans-pro, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.5rem;
}

#gameplay {
background-color: #1F3933;
color: white;
padding: 20px 20px;
}
#gameplay h2{
    color: white;
    }
    


.grid-container-gameplay { 
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-gap: 20px; 
    width: 100%; 
    justify-content: center;
} 

.grid-child-gameplay-playarea {
    padding: 20px 8px 95px 150px;
    width: 355px;
}

.grid-child-gameplay-explanation ul, .grid-child-gameplay-explanation li{
    font-family: freight-sans-pro, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.5rem;
    padding: 5px 8px;
    width: 355px;
    list-style-type: circle;

}

.grid-container-form { 
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-gap: 20px; 
    width: 100%; 
    justify-content: center;
    justify-items: center;
    align-items: center;
} 

.grid-child-form {
    padding: 0px 0px 0px 150px;
    width: 355px;
}

form {
    display: block;
    width: 395px;
    text-align: left;
    margin: 0 auto;
    font-size: 20px;
    padding: 30px;
    font-family: freight-sans-pro, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.5rem;
}
input[type=text], input[type=email], input[type=password], input[type=tel]{
    width: 395px;
    padding: 8px;
    margin-top: 4px;
    margin-bottom: 12px;
    border: 1px solid #aaa;
    border-radius: 4px;
    box-sizing: border-box;
}

fieldset{
width: 100%;
border: none;
margin: 1em auto 0.5em auto;
padding: 50px 20px 48px 11px;
}

textarea {
    width: 395px;
    height: 90px;
}

.grid-child-soc-med {
    display: grid;
    grid-template-areas: "soc-med-icons"
    "welovefeedbackparagraph"
    "getheappsection";
    padding: 0px 150px 0px 0px;
    width: 355px;
    justify-items: center;
}

.soc-med-icons{
    padding: 0px 0px 0px 130px;
}



#instagram img, #facebook img, #spotify img {
    width: 10%;
    background-color: black;
    border-radius: 20px;
}

.starbucksapp-section img {
    border-radius: 20%;
    width: 70%;
}

.starbucksapp-section {
padding: 50px 0px 0px 100px;
}

.starbucksapp-section-paragraph {
    text-align: center;
    padding: 0px 0px 20px 0px;
}

#googleplaybadge img, #applestorebadge img{
    height: 40px;
    border-radius: 10px;
}
